<div class="wrapper">
    <h3>{{ loginMode ? 'Login' : 'Sign Up' }}</h3>
    <ng-template appPlaceholder></ng-template>
    
    <!-- <app-alert-component [message]="error"
    *ngIf="error"
    (close) = "handleError()"></app-alert-component> -->
    <form (ngSubmit)="onSubmit(authForm)" #authForm="ngForm" *ngIf="!isLoading">
        <div class="card">    
            <div>
                <label for="Email">Email</label>
                <input type="email"
                    class="form-control"
                    name="email"
                    id="Email"
                    ngModel
                    required
                    email>
            </div>
            <div>
                <label for="Pass">Password</label>
                <input 
                type="password" 
                class="form-control" 
                name="password" 
                id="Pass"
                required
                minlength="6"
                ngModel>
            </div>
            <div class="warning" *ngIf="!authForm.valid && authForm.touched && authForm.invalid">
                Use a valid Email and a password with min length of 6 characters
            </div>
            <div>
                
                <button type="button" (click)="switchMode()">Switch to {{ loginMode ? 'Sign Up' : 'Login' }} Mode</button>
                <button type="submit" [disabled]="!authForm.valid">{{ loginMode ? 'Login' : 'Sign Up' }}</button>
            </div>
        </div>
    </form>
    <div *ngIf="isLoading">
        Please be Patient...... your request is being processed!
    </div>
</div>