*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    width: 0.5rem;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.7);
  }
  body::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.4);
    border-radius: 0.5rem;
}
.wrapper{
    width: 100%;
    max-width: 1005px;
    padding: 2rem 0;
    margin: 0 auto;
    margin-bottom: 1.75rem;
    display: flex;
    flex-wrap: wrap;
    .wrapper{
        padding: 1rem 0;
        margin-bottom: 1rem;
        &:last-child{
            padding-bottom:0;
        }
    }
    @media screen and (min-width:786px){
        padding: 2rem 4rem;
    }
}
.note-card{
    position: relative;
    display: flex;
    flex-flow: column;
    padding: 1rem 0.5rem;
    border: 1px solid;
    border-radius:0.25rem;
    margin:0.35rem;
    min-height: 3.5rem;
    overflow: hidden;
    cursor: pointer;
    &--default{
        background-color: rgba(yellow,0.5);
        border-color: rgba(yellow,0.8);
    }
    &--sample{
        width: 130px;
        padding: 10px;
        min-height: auto;
        cursor: default;
        &:hover{
            box-shadow: none!important;
            transform: none!important;
        }
    }
    &__important{
        position: absolute;
        right: -17px;
        top: -9px;
        height: 27px;
        width: 40px;
        background-color: rgba(255, 0, 0, 0.7);
        transform: rotate(45deg);

    }
    .heading{
        font-weight: 600;
        font-size: 1rem;
        padding: 0.25rem 0;
        img{
            height: 1rem;
            width: 1rem;
            float: right;
        }
    }
    .body{
        min-height: 2.5rem;    
        font-size: 0.8rem;
        padding: 0.25rem 0;
    }
    &:hover{
        box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
        transform: scale(1.03);
    }
    transition: all 250ms ease-in-out;
}
@media screen and (min-width:768px){
    .note-card{
        width: 31%;
    }
}
button{
    cursor: pointer;
    outline : none;
    background-color:rgba(grey,0.5);
    border: rgba($color: #000000, $alpha: .5);
    padding: 5px 12px;
    border-radius : 0.25rem;
    margin-right: 10px;
    font-size: 0.75rem;
}