<div class="wrapper">
<p *ngIf="successNotification">{{successMessage}}</p>
<div class="card" *ngIf="!isLoading">
<form [formGroup]="noteForm" *ngIf="noteForm" (ngSubmit)="onSubmit()">
   <div>
    <textarea
    type="text"
    placeholder="Title of Note"
    formControlName="title">
    </textarea>
    <textarea
    rows="7"    
    type="text"
    placeholder="Description of Note"
    formControlName="description">
    </textarea>
    <div>
        <!-- <img class="imagePreview" *ngIf="noteMode === 'edit'" [src]="noteForm.get('image').value" alt=""> -->
        <button class="button" type="button" *ngIf="true || noteMode === 'create'" (click)="filePicker.click()">{{noteMode === 'create' ? 'Add New' : 'Change the'}} Image</button>
        <input type="file" #filePicker (change)="newImgPicked($event)">
        <img class="imagePreview" *ngIf="imagePreview || noteForm.get('image').valid" [src]="imagePreview || noteForm.get('image').value" alt="">
    </div>
    </div>
    <div class="imp-field">
    <input
    type="checkbox"
    formControlName="isImportant">
    <span> Important Note</span>
    </div>
    <div>
    <button class="button" type="submit" *ngIf="noteMode === 'create'" [disabled] ="!noteForm.valid">Create New Note</button>
    <button class="button" type="submit" *ngIf="noteMode === 'edit'" [disabled] ="!noteForm.valid">Edit Note</button>
    </div>
</form>
<ng-container *ngIf="noteForm">
    <button class="button button--delete" type="submit" *ngIf="noteMode === 'create'" [routerLink]="['/notes']">Back to all Notes</button>
    <button class="button button--delete" type="submit" *ngIf="noteMode === 'edit'" (click)="deleteNote()">Delete Note</button>
</ng-container>
</div>
<ng-container *ngIf="!isLoading && !noteForm"> 
    <div> No note found </div>
</ng-container>
<div *ngIf="isLoading"> <img src="/assets/icons/spinner.gif" alt=""></div>
</div>