
    <p>{{successMessage}}</p>
    <form (ngSubmit)="onSubmit()" [formGroup]="noteForm">
    <h4>Edit Note</h4>
    <div>
    <label for="title">
        Title
    </label>
    <input type="text"
    formControlName="title"
    id="title">
    </div>
    <div>
    <label for="description">Description</label>
    <input 
    type="text"
    formControlName="description">
    </div>
    <label for="isImp">
    <input type="checkbox"
    formControlName="isImportant">
    Important Note
    </label>
    <button type="submit">
        Edit Note
    </button>
    <button type="submit">
        Create Note
    </button>
    </form>
