<div class="wrapper">
<p *ngIf="successNotification">{{successMessage}}</p>
<div class="note-card" *ngIf="noteForm">
<form [formGroup]="noteForm" (ngSubmit)="onSubmit()">
   <div>
    <input
    type="text"
    placeholder="Title of Note"
    formControlName="title">
    </div>
    <div>
    <input
    class="description"
    type="text"
    placeholder="Description of Note"
    formControlName="description">
    </div>
    <div>
    <input
    type="checkbox"
    formControlName="isImportant">
    </div>
    <div>
    <button type="submit" *ngIf="noteMode === 'create'" [disabled] ="!noteForm.valid">Create New Note</button>
    <button type="submit" *ngIf="noteMode === 'edit'" [disabled] ="!noteForm.valid">Edit Note</button>
    </div>
</form>    
</div>
<div *ngIf="!noteForm">your note is loading..</div>
</div>